:root {
    --primary-yellow: #F7B633;
    --primary-blue: #393D56;
    --light-blue: #E5E9EE;
    --dark-grey: #333333;
    --light-grey: #999999;
    --neutral-grey: #C4C4C4;
    --nav-bar-bg: #F3F4F4;
}


body {
    background-color: green;
    font-family: arial;
}

@media only screen and (max-width: 599px){
    
    body {
        background-color: var(--light-blue);
    }


}